:root {
  --nav-textcolor: #212121;
  --white: #fff;
  --black: #000;
}
@media only screen and (min-width: 481px) and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  nav {
    display: flex;
    align-items: center;
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-left h1 {
      padding: 0px 50px;
    }
    .nav-left ul {
      display: none;
    }
    .nav-right ul {
      display: none;
    }
    .nav-right {
      width: 15%;
    }
    .nav-right .bars {
      display: inline-block;
      padding: 0;
      font-size: 2rem;
    }
  }
  .sidebar {
    display: flex !important;
  }
  .main__content h1 {
    max-width: 90% !important;
  }
  .main__content button {
    font-size: 1.2rem;
  }
  .descriptions {
    flex-direction: column;
    width: 80%;
    flex-wrap: nowrap;
    .description {
      width: 70%;
      margin-bottom: 40px;
      p {
        max-width: 100%;
      }
    }
  }
  .our-works-images {
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 20px;
    .img1,
    .img2,
    .img3 {
      width: 80%;
    }
  }
  .clients {
    flex-wrap: wrap;
    .client {
      width: calc(50% - 20px);
    }
  }
  .team-cards {
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
    .team-card {
      width: 70%;
      h6 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .team-card1-icons,
    .team-card2-icons,
    .team-card3-icons,
    .team-card4-icons {
      justify-content: space-around;
    }
  }
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    * {
      text-align: center;
    }
    .footer-left {
      padding: 0;
      margin: 20px auto;
      h1 a {
        font-size: 2rem;
      }
      a {
        margin-bottom: 0;
      }
    }
    .footer-center {
      margin-bottom: 20px;
      margin-inline: auto;
      width: fit-content;
    }
    .footer-right {
      .email-input {
        margin-bottom: 10px;
        text-align: start;
      }
    }
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  nav {
    display: flex;
    align-items: center;
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-left h1 {
      padding: 0px 30px;
    }
    .nav-left ul {
      display: none;
    }
    .nav-right ul {
      display: none;
    }
    .nav-right {
      width: 15%;
    }
    .nav-right .bars {
      display: inline-block;
      padding: 0;
      font-size: 1.5rem;
    }
  }
  .sidebar {
    display: flex !important;
  }
  .main__content h1 {
    max-width: 90% !important;
  }
  .main__content button {
    font-size: 1.2rem;
  }
  .descriptions {
    flex-direction: column;
    width: 80%;
    flex-wrap: nowrap;
    .description {
      width: 70%;
      margin-bottom: 40px;
      p {
        max-width: 100%;
      }
    }
  }
  .our-works-images {
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 20px;
    .img1,
    .img2,
    .img3 {
      width: 90%;
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      
      .gray-container { 
        transform: translateY(-100px);
      }
    }
  }
  .clients {
    flex-wrap: wrap;
    .client {
      width: calc(50% - 20px);
    }
  }
  .team-cards {
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 20px;
    .team-card {
      width: 80%;
      h6 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .team-card1-icons,
    .team-card2-icons,
    .team-card3-icons,
    .team-card4-icons {
      justify-content: space-around;
    }
  }
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    * {
      text-align: center;
    }
    .footer-left {
      padding: 0;
      margin: 20px auto;
      h1 a {
        font-size: 2rem;
      }
      a {
        margin-bottom: 0;
      }
    }
    .footer-center {
      margin-bottom: 20px;
      margin-inline: auto;
      width: fit-content;
    }
    .footer-right {
      .email-input {
        margin-bottom: 10px;
        text-align: start;
      }
    }
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 10px;
  }
  nav {
    display: flex;
    align-items: center;
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-left h1 {
      padding: 0px 30px;
    }
    .nav-left ul {
      display: none;
    }
    .nav-right ul {
      display: none;
    }
    .nav-right {
      width: 15%;
    }
    .nav-right .bars {
      display: inline-block;
      padding: 0;
      font-size: 2rem;
    }
  }
  .sidebar {
    display: flex !important;
  }
  .main__content h1 {
    max-width: 90% !important;
  }
  .main__content button {
    font-size: 1.2rem;
  }
  .descriptions {
    flex-direction: column;
    width: 80%;
    flex-wrap: nowrap;
    .description {
      width: 70%;
      margin-bottom: 40px;
      p {
        max-width: 100%;
      }
    }
  }
  .our-works-images {
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 20px;
    .gray-container {
      transform: translateY(50%);
    }
    .img1,
    .img2,
    .img3 {
      width: 80%;
      height: 220px !important;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
      }
      &:hover {
        .gray-container {
          transform: translateY(-100%);
          height: 50px;
        }
      }
    }
  }
  .clients {
    flex-wrap: wrap;
    .client {
      width: calc(50% - 20px);
    }
  }
  .team-cards {
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 20px;
    .team-card {
      width: 90%;
      h6 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .team-card1-icons,
    .team-card2-icons,
    .team-card3-icons,
    .team-card4-icons {
      justify-content: space-around;
    }
  }

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    * {
      text-align: center;
    }
    .footer-left {
      padding: 0;
      margin: 20px auto;
      h1 a {
        font-size: 2rem;
      }
      a {
        margin-bottom: 0;
      }
    }
    .footer-center {
      margin-bottom: 20px;
      margin-inline: auto;
      width: fit-content;
    }
    .footer-right {
      .email-input {
        margin-bottom: 10px;
        text-align: start;
      }
    }
  }
}
