@media only screen and (min-width: 2701px) and (max-width: 5300px) {
  /*! 25% ZOOM */
  nav {
    height: 100% !important;
    padding: 50px;
  }
  .nav-container {
    width: 35% !important;
  }
  .cards-container {
    width: 22% !important;
    .card p {
        font-size: 12px;
    }
  }
}
@media only screen and (min-width: 2001px) and (max-width: 2700px) {
  /*! 50% ZOOM */
  .nav-container {
    width: 50% !important;
  }
  .cards-container {
    width: 40% !important;
    .card p {
        font-size: 12px;
    }
  }
}
@media only screen and (min-width: 1801px) and (max-width: 2000px) {
  /*! 67% ZOOM */
  .nav-container {
    width: 70% !important;
  }
  .cards-container {
    width: 60% !important;
    .card p {
        font-size: 12px;
    }
  }
}
@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  /*! 80% ZOOM */
  .nav-container {
    width: 80% !important;
  }
  .cards-container {
    width: 75% !important;
  }
}
@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  /*! 90% ZOOM */
  nav {
    padding: 0;
  }
  .nav-container {
    height: 12vh !important;
  }
  .cards-container {
    width: 80% !important;
  }
}
@media only screen and (max-width: 1400px) {
  /*! 100% ZOOM */
  .nav-container {
    width: 100% !important;
  }
}
