@media only screen and (min-width: 361px) and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  nav {
    width: 100%;
  }
  main {
    width: 100%;
  }

  .nav-left ul li {
    display: none;
  }
  .nav-left h1 {
    padding: 0px 30px !important;
  }
  .nav-left ul {
    width: 0;
    height: 0;
  }
  .nav-right ul li {
    display: none;
  }
  .nav-right ul {
    width: 0;
    height: 0;
  }
  .nav-right {
    width: fit-content !important;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
  .bars {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
  .nav-left h1 {
    font-weight: 800;
  }
  .nav-right ul {
    display: none;
  }
  .bars {
    display: inline-block !important;
    font-size: 30px;
  }
  .nav-right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
    padding-right: 25px;
    height: 100%;
  }
  .card h5 {
    font-size: 1.3rem !important;
    max-width: 100% !important;
    text-wrap: wrap !important;
  }
  .card {
    width: 80% !important;
    height: 350px !important;
  }
  .cards-container {
    text-wrap: wrap;
  }
  .img {
    height: 250px;
  }
  .card__blue-container {
    display: none;
  }
  .img2-h5 {
    font-size: 0.8rem !important;
    text-align: center !important;
    text-indent: 0 !important;
    text-wrap: wrap;
    max-width: 100%;
  }
  .categories {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    * {
      text-align: center;
    }
    .footer-left {
      padding: 0;
      margin: 20px auto;
      h1 a {
        font-size: 2rem;
      }
      a {
        margin-bottom: 0;
      }
    }
    .footer-center {
      margin-bottom: 20px;
      margin-inline: auto;
      width: fit-content;
    }
    .footer-right {
      .email-input {
        margin-bottom: 10px;
        text-align: start;
      }
    }
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 10px;
  }
  nav {
    display: flex;
    align-items: center;
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nav-left h1 {
      padding: 0px 30px;
    }
    .nav-left ul {
      display: none;
    }
    .nav-right ul {
      display: none;
    }
    .nav-right {
      width: 15%;
    }
    .nav-right .bars {
      display: inline-block;
      padding: 0;
      font-size: 2rem;
    }
  }
  .categories {
    width: 70% !important;
    padding-block: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100px !important;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90% !important;
    h5 {
      font-size: 1.2rem !important;
      text-wrap: wrap !important;
    }
    p {
      font-size: 1.2rem !important;
    }
  }
  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    * {
      text-align: center;
    }
    .footer-left {
      padding: 0;
      margin: 20px auto;
      h1 a {
        font-size: 2rem;
      }
      a {
        margin-bottom: 0;
      }
    }
    .footer-center {
      margin-bottom: 20px;
      margin-inline: auto;
      width: fit-content;
    }
    .footer-right {
      .email-input {
        margin-bottom: 10px;
        text-align: start;
      }
    }
  }
}
